body {
  background-color: rgb(22, 24, 32) !important;
  -webkit-user-select: none;
}

.ps__rail-y {
  z-index: 3000;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: transparent;
}